body{
	background: #e5e5e5;
}
.header{
	width:100%;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	height:100vh;
	background: url('../gambar/bg.jpg');
	background-repeat: no-repeat;
	animation: fadein;
	-webkit-animation: fadein 12s ease-in  0s infinite alternate running;
}
/*@-webkit-keyframes fadein {
	    0% { background-image: url('../gambar/body6.jpg');  }
	    32% { background-image: url('../gambar/body4.jpg');  }
	    55% {  background-image: url('../gambar/body4.jpg');  }
	    76% { background-image: url('../gambar/body5.jpg'); }
	    100% { background-image: url('../gambar/body5.jpg'); }
	}*/
.navbar-inverse {
    background-color: transparent;
    border:none;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.container h1{
	font-weight: 700px: 
}
.deskripsi{
	text-align: center;
	font-family: calibri light;
	font-size: 17;
}
.warna1{
	background: #fc826e;
	margin-top: 150px;
}
.warna2{
	margin-top: 20px;
}
.populer{
	font-family: roboto black;
	color: white;
	font-size: 65;
}
.film{
	font-family: calibri light;
	color: white;
	font-size: 50;
}
.thumbnail{
	border: none;
	background: transparent;
	box-shadow: none;
}

.cinema{
	font-family: Aguardiente;
	color: #0a0a0a;
	font-size: 40;
	letter-spacing: 3px;
}
.button{
	margin: 15px;
	background: #0b0b0b;
}
.tombol{
	width: auto;
	height: auto;
}
.tombol input[name=onclick]{
	width: 25%;
	height: 6%;
	font-size: 13;
	font-weight: 800;
	color: #f36f20;
	border: 2px solid;
	border-color: #f36f20;
	background: transparent;
}
.tombol input[name=onclick2]{
	width: 25%;
	height: 6%;
	font-size: 13;
	font-weight: 800;
	color: white;
	border: 2px solid;
	border-color: #f36f20;
	background: #f36f20;
}

.tombol input[name=onclick]:hover{
	background: #f36f20;
	color: white;
	transition: all 1s;
}

.jadwal{
	background: #281919;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
}
.isi{
	margin-top: 20px;
}
.thumbnail2 {
    border: none;
    background: transparent;
    box-shadow: 8px 0px 8px #322e2e;
}
.pengertian{
	text-align: center;
	color: #eeeeee;
	font-family: roboto black;
	font-size: 20;
	line-height: 0.2;
	letter-spacing: 3;
}
.today{
	color: #d9a7a7;
	font-family: roboto black;
	font-size: 55;
}

.footer1{
	margin-top: 90px;
}
.isi-footer{
	text-align: center;
	color: black;
	font-family: Always In My Heart;
	font-size: 50;
	letter-spacing: 2px;
	font-weight: 600;
}
.deskripsi-judul{
	text-align: center;
	line-height: 0.1;
	letter-spacing: 1.5;
	font-family: calibri light;
	font-size: 15;
}
.gambar{
	filter: grayscale(100%); 
}