::-webkit-scrollbar{
	width:1vh;
}
::-webkit-scrollbar-track{
	background-color:white;
}
::-webkit-scrollbar-thumb{
	background-color:#2c2c2c;
}
body{
	background: #000000;
}
.header{
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	height:100vh;
	background: url('../gambar/bg.jpg');
	background-repeat: no-repeat;
	top:0;
}
.judul{
	margin-top: 180px;
}
.judul img{
	margin-left: 30px;
}
.lebar_navbar{
	height: 13%;
}
.menu_kiri{
	margin-left: 20%;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
    transition: 0.8s;
}
.jarak_menu{
	margin-top: 15px;
}
.menu_header{
	width: auto;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: roboto black;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #e6741e;
    transition: 0.8s all;
    text-decoration: line-through;
}

.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width:991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../gambar/bg.jpg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../gambar/bg2.jpg");
}

.covertext {
  position: absolute; 
  top: 200px; 
  left: 0px; 
  right: 0px;
  animation:bawah 1.4s;
	-moz-animation:bawah 1.4s;
	-webkit-animation:bawah 1.4s; 
}
@keyframes bawah{
	from{
		transform:translate3d(0,-70%,0);
		-moz-transform:translate3d(0,-70%,0);
		-webkit-transform:translate3d(0,-70%,0);
	}
	to{
		transform:none;
		-moz-transform:none;
		-webkit-transform:none;
	}
}

.title {
  text-align: left;
}

.subtitle {
  font-family: Bombardier;
  font-size: 50px;
  color: #ffffff;
  text-align: left;
}
.subtitle2{
	font-family: calibri light;
	color: #ffffff;
	font-size: 18;
	letter-spacing: 1.2;
}

.explore {
  margin-top: 10px;
}

.explore .btn-lg {
  padding-left: 45px;
  padding-right: 45px;
  font-size: 15px;
  border: 2px solid;
  border-radius: 0px;
  background-color: transparent;
  border-color: #e96b20;
  color:#ffffff;
}

.explorebtn:hover {
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  transition: 1s all;
  box-shadow: none;
  outline: none;
}

.isi{
	background-image: url("../gambar/background-433d3ed0e7.png");
	height: auto;
}
.gambar{
	margin-top: 30px;
}
.keterangan{
	margin-top: 230px;
}
.keterangan h1{
	font-family: Bombardier;
	color: #ffffff;
	font-size: 45;
}
.deskripsi{
	color: #ffffff;
	font-family: calibri light;
	font-size: 18;
}

.tombol .btn-lg {
  padding-left: 45px;
  padding-right: 45px;
  font-size: 15px;
  border: 2px solid;
  border-radius: 0px;
  background-color: transparent;
  border-color: #e96b20;
  color:#ffffff;
}
.tombol2 .btn-lg {
  padding-left: 45px;
  padding-right: 45px;
  font-size: 15px;
  border: 2px solid;
  border-radius: 0px;
  background-color: #e96b20;
  border-color: #e96b20;
  color:#ffffff;
  margin-left: 20px
}
.tombolbtn:hover {
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  transition: 1s all;
  box-shadow: none;
  outline: none;
}

.tempat_jadwal{
	background: #e3e3e3;
}
.judul_jadwal{
	font-family: Bombardier;
	color: #262626;
	font-size: 73;
	line-height: 1;
}
.keterangan_jadwal{
	font-size: 18;
	font-family: calibri light;
	font-weight: 700;
	letter-spacing: 2;
}
.jarak_atas{
	margin-top: 10px;
}
.bgfilm{
	background: transparent;
	border: none;
}


.hal_rating{
	background: #ffffff;
}
.judul_rating{
	font-family: Bombardier;
	color: #2e2e2e;
	font-size: 50;
	padding-top: 30px;
}
.deskripsi_rating{
	font-family: calibri light;
	color: #2e2e2e;
	font-size: 20;
}
#hitungan{
	text-align: center;
  	font-size: 50px;
  	margin-top: 30px;
}
.bgcopy{
	background: rgb(40,42,39);
}
.copy{
	color: #ffffff;
	padding: 10px;
}

.fix{
	background: black;
	transition: 0.8s;
}

/*style popup*/
.jarak_email{
	margin-top: 20px;
}
.posisi{
	position: fixed;
}
.lebel{
	font-family: calibri light;
	font-size: 18;
	font-weight: 500;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    outline: none;
}

/*halaman boking*/
