.header_utama{
	float: left;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../gambar/game-background_26.png');
}
.header1{
	background-color: #1e1e1e;
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
}
.jarak-password{
	margin-top: 20px;
}
.form{
	background: #3c3c3c;
	border-color: #3c3c3c;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #898686;
    text-align: center;
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
}
.form-control {
    color: #dbd7d7;
}
.tombol{
	margin-top: 20px;
}
.jarak-login{
	padding-right:15px;
}